__pycache__/
*.py[cod]
*.pyo
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
logs/
*.log
BJJtutor-venv/
.venv/
venv/
build/
dist/
*.egg-info/
*.dist-info/
src/BJJtutor/BJJtutor.dist-info/
.vscode/
.idea/
.DS_Store
Thumbs.db
